<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/register.css" />
</head>
<body>
    <main>
        
        <div id="register-title">
            Welcome!
        </div>
        <!-- <div id="register-subtext">Create an account by entering your email and desired password.</div> -->
        <form id="credentials">
            <label for="email"></label>
            <input for="email" type="text" placeholder="Email">
            

            <label for="password"></label>
            <input for="password" type="password" placeholder="Password">

            <label for="password"></label>
            <input for="password" type="password" placeholder="Confirm Password">

            <button type="submit" id="submit-credentials">Submit</button>
        </form>
    </main>
</body>
</html>