<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/register.css" />
</head>
<body>
    <%- include('partials/header'); %>
    <main>

        <div id="register-title">
            Welcome!
        </div>
        <!-- <div id="register-subtext">Create an account by entering your email and desired password.</div> -->
        <form id="credentials" action="/register" method="POST">
            <label for="email"></label>
<<<<<<< HEAD
            <input for="email" type="text" placeholder="Email">
=======
            <input id="emailBox" for="email" type="text" placeholder="Email" name="email">
            <span id="emailError" class="error-message"></span>
            
>>>>>>> 091ec84 (making login and register pages look better, adding form validation, getting rid of old homepage)

            <label for="password"></label>
            <input id="firstPassword" for="password" type="password" placeholder="Password" name="password">
            <div id="passwordRequirements" class="requirements">
            <p>Your password must include:</p>
            <ul>
                <li>At least 8 characters</li>
                <li>At least one uppercase letter (A–Z)</li>
                <li>At least one lowercase letter (a–z)</li>
                <li>At least one number (0–9)</li>
                <li>At least one special character (!@#$...)</li>
            </ul>
            </div>

            <label for="password"></label>
            <input id="secondPassword" for="password" type="password" placeholder="Confirm Password" name="confirmPassword">
            <span id="passwordError" class="error-message"></span>

            <button type="submit" id="submit-credentials">Submit</button>
        </form>
    </main>
    <script src="/js/register.js"></script>
</body>
</html>
