:root{
  font-family:"Inter",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial;
}

body{
  background-color:#f6f7f9;
  display:flex;
  flex-direction:column;
  align-items:center;
}

main{
  background-color:#f6f7f9;
  max-width:60vw;
  height:100vh;
  padding-top:15vh;
  margin:auto;
}

#login-title{
  font-weight:600;
  font-size:2.5rem;
  text-align:center;
}

form{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:15px;
  margin-top:25px;
}

#credentials input{
  border:1px solid #000;
  border-radius:12px;
  width:350%;
  height:30px;
}

#submit-credentials{
  border:1px solid #000;
  background-color:#fff;
  border-radius:12px;
  margin-top:20px;
  width:100%;
  height:30px;
  cursor:pointer;
}

#submit-credentials:hover{
  background-color:#e2e2e2;
}
