:root{
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

*{
  box-sizing:border-box;
}


body {
  background-color: rgb(246, 247, 249);
  display: flex;
  flex-direction: column; 
  align-items: center; 
  min-height: 100vh;
}

main {
  background-color: rgb(246, 247, 249);
  max-width: 60vw;
  padding-top: 15vh;
  margin: 0 auto;
}

#register-title{
  font-weight: 600;
  font-size: 250%;
  margin: auto;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
}

#credentials input{
  border: 1px solid black;
  border-radius: 12px;
  width: 350%;
  height: 30px;
}

#submit-credentials{
  border: 1px solid black;
  background-color: white;
  border-radius: 12px;
  margin-top: 20px;
  width: 100%;
  height: 30px;
}

#submit-credentials:hover{
  background-color: rgb(226,226,226);
}

